<div class="card">
    <div class="header">
        <div class="day">{{ day }}</div>
        <div class="type">{{ type }}</div>
    </div>

    <div class="part-3">
        <div>
            <img [src]="picUrl" class="image">
        </div>

        <div class="current-temp-container">
            <div class="current-temp">{{ currentTemp }}</div>
            <div class="feels-like">
                <div>FEELS</div>
                <div>LIKE</div>
            </div>
            <div class="feels-like-temp ">{{ feelsLikeTemp }}</div>
        </div>

    </div>

</div>
